.wrapper-pc {
    --with-playControl: 320px;
    width: var(--with-playControl);
    background-color: #120c1c;
    padding: 30px 0 0;
    font-size: 1.3rem;
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow-y: auto;
}

// run on tablet
.overlay {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.05);
    display: none;
}

.wrapper-tablet {
    position: absolute;
    bottom: 16px;
    right: 17px;
    width: 160px;
    height: 64px;
    background-color: #fafafa;
    display: none;
    border-radius: 4px;
    .header {
        cursor: pointer;

        .title {
            margin: 4px 0;
            text-align: center;
            font-size: 1.4rem;
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            word-break: break-word;
        }
    }
    .control {
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: rgba(28, 30, 32, 0.5);
        .wrapper-control-icon {
            display: flex;
            align-items: center;
            .control-icon {
                padding: 8px;
                cursor: pointer;
                &:hover {
                    color: rgba(28, 30, 32, 1);
                }
            }
        }
    }
}
input:checked ~ .wrapper-pc {
    opacity: 1;
    transform: translateX(0);
}

input:checked ~ .overlay {
    display: block;
}

//  custum range

@media (max-width: 1100px) {
    .wrapper-pc {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        opacity: 0;
        z-index: 10;
        transform: translateX(100%);
        transition: all linear 0.3s;
    }
    .wrapper-tablet {
        display: block !important;
    }
}
